<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
    <meta charset="UTF-8">
    <title>상세 페이지</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="container">
            <div class="row mb-3">
                <div class="col-md-8">
                    <table class="table table-striped">
                        <tr>
                            <th th:text="${board.title}"></th>
                        </tr>
                        <tr>
                            <td th:text="${board.writer}"></td>
                        </tr>
                        <tr>
                            <td th:text="${board.content}"></td>
                        </tr>
                        <tr>
                            <td th:text="${#temporals.format(board.createdAt, 'yyyy-MM-dd HH:mm:ss')}"></td>
                        </tr>
                    </table>
                    <form th:action="@{/boards/{bno}/delete(bno=${board.bno})}" method="post">
                    <div th:if="${session.loginUser.id == board.writer}">
                        <input type="hidden" id="bno" th:value="${board.bno}">
                        <button type="submit"> 삭제하기 </button>
                    </div>
                    </form>

                    <form th:action="@{/boards/editForm}" method="post">
                        <div th:if="${session.loginUser.id == board.writer}">
                            <button type="submit">수정하기</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</body>
</html>